<p id="notice"><%= notice %></p>

<p>
  <strong>First namestring last name:</strong>
  <%= @scout.first_namestring last_name %>
</p>

<%= link_to 'Edit', edit_scout_path(@scout) %> |
<%= link_to 'Back', scouts_path %>
